

$primary: #3498db;
$success: #1abc9c;
$danger: #e74c3c;
$warning: #flc40f;

div > div {
  border: 1px solid grey;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.btn {
  color: white;
  border-radius: 8px;
  font-size: 150%;
  margin: 5px;
  padding: 20px;
  border: none;
}

.btn2 {
  color: white;
  border-radius: 35px;
  font-size: 150%;
  margin: 5px;
  padding: 20px;
  border: none;
}

.btn3 {
  color: black;
  background-color: white;
  border-radius: 8px;
  font-size: 150%;
  margin: 5px;
  padding: 20px;
  border: 3px solid black;

}


@for $i from 20 through 100 {
  @if $i % 10 == 0 {
    $percentage: $i*1%;

    .mix-primary1-#{$i} {
      background-color: darken($primary, $percentage);
    }
    .mix-primary2-#{$i} {
      background-color: lighten($primary, $percentage);
    }
    .mix-success1-#{$i} {
      background-color: darken($success, $percentage);
    }
    .mix-success2-#{$i} {
      background-color: lighten($success, $percentage);
    }
    .mix-danger1-#{$i} {
      background-color: darken($danger, $percentage);
    }
    .mix-danger2-#{$i} {
      background-color: lighten($danger, $percentage);
    }
  }
}