div > div {
  border: 1px solid grey;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.btn {
  color: white;
  border-radius: 8px;
  font-size: 150%;
  margin: 5px;
  padding: 20px;
  border: none;
}

.btn2 {
  color: white;
  border-radius: 35px;
  font-size: 150%;
  margin: 5px;
  padding: 20px;
  border: none;
}

.btn3 {
  color: black;
  background-color: white;
  border-radius: 8px;
  font-size: 150%;
  margin: 5px;
  padding: 20px;
  border: 3px solid black;
}

.mix-primary1-20 {
  background-color: #196090;
}

.mix-primary2-20 {
  background-color: #8bc4ea;
}

.mix-success1-20 {
  background-color: #0e6252;
}

.mix-success2-20 {
  background-color: #55e7ca;
}

.mix-danger1-20 {
  background-color: #a82315;
}

.mix-danger2-20 {
  background-color: #f29f97;
}

.mix-primary1-30 {
  background-color: #124364;
}

.mix-primary2-30 {
  background-color: #b6daf2;
}

.mix-success1-30 {
  background-color: #07362c;
}

.mix-success2-30 {
  background-color: #81eed8;
}

.mix-danger1-30 {
  background-color: #7b190f;
}

.mix-danger2-30 {
  background-color: #f8c9c4;
}

.mix-primary1-40 {
  background-color: #0a2639;
}

.mix-primary2-40 {
  background-color: #e1f0fa;
}

.mix-success1-40 {
  background-color: #010907;
}

.mix-success2-40 {
  background-color: #aef4e6;
}

.mix-danger1-40 {
  background-color: #4d100a;
}

.mix-danger2-40 {
  background-color: #fdf3f2;
}

.mix-primary1-50 {
  background-color: #02090e;
}

.mix-primary2-50 {
  background-color: white;
}

.mix-success1-50 {
  background-color: black;
}

.mix-success2-50 {
  background-color: #dbfaf4;
}

.mix-danger1-50 {
  background-color: #200704;
}

.mix-danger2-50 {
  background-color: white;
}

.mix-primary1-60 {
  background-color: black;
}

.mix-primary2-60 {
  background-color: white;
}

.mix-success1-60 {
  background-color: black;
}

.mix-success2-60 {
  background-color: white;
}

.mix-danger1-60 {
  background-color: black;
}

.mix-danger2-60 {
  background-color: white;
}

.mix-primary1-70 {
  background-color: black;
}

.mix-primary2-70 {
  background-color: white;
}

.mix-success1-70 {
  background-color: black;
}

.mix-success2-70 {
  background-color: white;
}

.mix-danger1-70 {
  background-color: black;
}

.mix-danger2-70 {
  background-color: white;
}

.mix-primary1-80 {
  background-color: black;
}

.mix-primary2-80 {
  background-color: white;
}

.mix-success1-80 {
  background-color: black;
}

.mix-success2-80 {
  background-color: white;
}

.mix-danger1-80 {
  background-color: black;
}

.mix-danger2-80 {
  background-color: white;
}

.mix-primary1-90 {
  background-color: black;
}

.mix-primary2-90 {
  background-color: white;
}

.mix-success1-90 {
  background-color: black;
}

.mix-success2-90 {
  background-color: white;
}

.mix-danger1-90 {
  background-color: black;
}

.mix-danger2-90 {
  background-color: white;
}

.mix-primary1-100 {
  background-color: black;
}

.mix-primary2-100 {
  background-color: white;
}

.mix-success1-100 {
  background-color: black;
}

.mix-success2-100 {
  background-color: white;
}

.mix-danger1-100 {
  background-color: black;
}

.mix-danger2-100 {
  background-color: white;
}

/*# sourceMappingURL=styles.css.map */
